<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AI assisted search for missing persons</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'admin/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'admin/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <h3 class="logo-abbr" style="color: rgb(123, 255, 0);">AI</h3>
                <h3 class="brand-title" style="color: rgb(13, 219, 195);"><i>Search Missing&nbsp;Persons.</i></h3>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    
                                    <a href="{% url 'main_policelogin' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
         <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    
                <span class="nav-text">&nbsp;&nbsp;&nbsp;<a href="{% url 'admin_dashboard' %}">&nbsp;&nbsp;&nbsp;<i
                    class="icon icon-single-04"></i>&nbsp; Dashboard</a></span>
                        
              
                   
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Cases Management</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_addnewcase' %}">Add New Case</a></li>
                            <li><a href="{% url 'admin_managecases' %}">Manage Case</a></li>
                        </ul>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Matches Cases</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_find_match' %}">Find Matches</a></li>
                            <li><a href="{% url 'admin_viewusersubmittedcases' %}">View User Submitted Cases</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Missing Data Analysis</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_casesanalysisgraph' %}">Cases Analysis Graph</a></li>

                        </ul>
              
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">FeedBack Analysis</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_sentimentgraph' %}">Sentiment Graph</a></li>
                        </ul>
                    </li>
                    
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-12 p-md-0">
                        <div class="welcome-text">
                            <center>
                            <h2>User Submitted Cases</h2>
                        </center>
                        </div>
                    </div>
                    
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                           
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="color:black;">Sno.</th>
                                            <th style="color:black;">User</th>
                                            <th style="color:black;">Phone</th>
                                            <th style="color:black;">Email</th>
                                            <th style="color:black;">Description</th>
                                            <th style="color:black;">Photo</th>
                                            <th style="color:black;">Status</th>

                                            
                                        </thead>
                                        {% for i in cases %}
                                        <tbody>
                                           
                                            <td style="color:black;">{{i.case_id}}</td>
                                            <td style="color:black;">{{i.name}}</td>
                                            <td style="color:black;">{{i.mobile}}</td>
                                            <td style="color:black;">{{i.email}}</td>
                                            <td style="color:black;">{{i.description}}</td>
                                            <td> 
                                                <a href="/media/{{i.photo}}" download><img style="width:100px; height:80px;" src="/media/{{i.photo}}" class="  " alt=""></a>
                                
                                           </td>
                                           {% if i.status == 'Found' %}
                                           <td  ><p class="badge badge-success">{{i.status}} </p></td>
                                           {% else %}
                                           <td ><p class="badge badge-danger">{{i.status}}</p></td>
                                            {% endif %}
                                        </tbody>
                                        {% endfor %}
                                        </table> 
                                </div>
                            </div>
                        </div>
                    </div>
           
            </div>
        </div>
        <!--**********************************
            Content body start
        ***********************************-->
         
        <!--**********************************
            Content body end
        ***********************************-->

        <script src="{% static 'main/js/sweetalert.min.js' %}"></script>
        {% if messages %}              
          {% for message in messages %}
             {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                       <script>swal({
                         title: "Warning!",
                         text: "{{message}}",
                         icon: "warning",
                         button: "OK",
                       });
                     </script>
                  
                   {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                       <script>swal({
                         title: "Info :)",
                         text: "{{message}}",
                         icon: "info",
                         button: "OK",
                       });
             </script>
             {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
             <script>swal({
               title: "Error :)",
               text: "{{message}}",
               icon: "error",
               button: "OK",
             });
             </script>
             {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
             <script>swal({
             title: "Success :)",
             text: "{{message}}",
             icon: "success",
             button: "OK",
             });
             </script>
                   {% endif %}              
                 {% endfor %} 
             {% endif %}
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://www.codebook.in/" target="_blank">CODEBOOK</a> 2018</p>
                <p>Distributed by <a href="#" target="_blank">FZINFOTECH</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'admin/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'admin/js/quixnav-init.js' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'admin/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'admin/vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'admin/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'admin/vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'admin/vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'admin/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/vendor/flot/jquery.flot.resize.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'admin/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Counter Up -->
    <script src="{% static 'admin/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'admin/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'admin/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'admin/js/dashboard/dashboard-1.js' %}"></script>


</body>

</html>